/* comment 1 */

.container-menu {
  width: 100%;
}

.app-container {
  filter: grayscale();
  width: 100%;
}
@media (max-width: 991px) {
  .app-container {
    display: grid;
    grid-template-columns: 1fr;
  }

}
@media (min-width: 992px) {
  .app-container {
    display: grid;
    grid-template-columns: 3fr 5fr;
    /* position: relative; */
  }
}
